
.car_item{display:inline-block;float:left;margin:6px;border:1px solid #dedfe0;border-radius:5px;list-style:none}
.car_item:hover{border:2px solid #93b7e1;margin:5px;}
.car_item a{display:block;width:308px;height:190px;padding:20px 0 10px 0;text-align:center;background:#fff;border-radius:5px;}
.car_item a img{width:70%;}
.car_item .list_yr{display:block;width:62px;margin:0 auto;}
.car_item .list_yr.sale{border:1px solid #4175a9;color:#4175a9;}
.car_item .list_br{display:block;margin:5px 0 6px 0;font-size:14px;font-weight:bold;}
.car_item .list_br .icon{display:none}
.car_item .list_br img{width:40px;height:17px;}
.car_item .list_pri{display:block;width:200px;margin:0 auto;}
.car_item .list_pri b{color:#4175a9;font-weight:normal;}

.brand_view > .more{position:absolute;top:10px;right:10px;}
.brand_view > .more.total{top:-25px;}
.brand_view > .more a{display:block;width:65px;height:30px;text-align:center;line-height:30px;}